.login-container {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Center everything */
}

.login-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center items horizontally */
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.validate-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.validate-button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff1744;
    margin-top: 10px;
}